.left-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative; /* Added to allow absolute positioning of children */

}

/* css for left container nav bar */

.left-container-nav-bar{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search-icon{
    flex: 2;
    text-align: right;
    margin-right: 5px;
    
}
.search-input{
    flex: 4;
}


.search-input input{
    border: none;
    padding: 8px;
    font-size: 11px;
    color: black;
}

.location-icon{
    flex: 2;
    text-align: center;
    margin-top: -2px;
    margin-right: 10px;

}

.location-icon fa-icon{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #f6f6f8;
    border-radius: 500px;
}
/* ============================================================================================ */

/* css for left container data*/


.left-container-data-box{
    flex: 12;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    flex-direction: column;
    padding-bottom: 60px; /* Add padding to create space for the button */
}

/* temperature data: image, value and day-time*/
.left-container-temp-data{
    flex: 1;
    display: flex;
    flex-direction: column;
}


/* temperature details : summary phrase, rain value, location image and location details */
.left-container-other-details{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left-container-temp-summary{
    flex: 1;
    display: flex;
    flex-direction: row;
    font-size: smaller;
    font-weight: 500;
}
.left-container-temp-summary-phrase-img{
    margin-right: 8px;
}

.left-container-rain-stats{
    flex: 1;
    display: flex;
    flex-direction: row;
    font-size: smaller;
    font-weight: 500;
}

.left-container-rain-stats-img{
    margin-right: 10px;
}

.left-container-location-details{
    flex: 4;
    text-align: center;
}
.left-container-location-img{
    margin-top: 20px;
    margin-bottom: 30px;
}

.left-container-location-img img{
    width: 200px;
    height: 65px;
    border-radius: 20px;
}

.left-container-location-name{
    margin-top: -80px;
    font-size: medium;
    font-weight: bold;
    color: #ffffff;
}


.left-container-temp-img{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container-temp-img img{
    width: 140px;
    height: 140px;
}

.left-container-temp-value{
    flex: 1;
    font-size: 62px;
    font-weight: normal;
}

.left-container-temp-value sup{
    position: relative;
    top: 3px;
    font-size: 36px;
}

.left-container-day-time{
    flex: 1;
    font-weight: 500;
    color: black;
    font-size: 14px;
    margin-bottom: 15px;
}
.left-container-day-time span{
    color: #c9c9c9;
}

.dividing-line{
    height: 1px;
    width: 100%;
    background-color: #f5f5f5;
    margin-top: 20px;
    margin-bottom: 20px;

}

/* Overlay style */
.feedback-overlay {
    position: fixed; /* Fullscreen overlay */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    z-index: 999; /* Ensure it is above all other elements */
}

.feedback-button {
    position: absolute;
    bottom: 10px;
    left: 60px;
    background-color: #e69350;
    color: #fff;
    padding: 2px 35px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: large;
  }
  
  /* Feedback Form Popup Style */
.feedback-form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the form */
    background-color: #d17f1e;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure the form is above the overlay */
    width: 90%; /* Responsive width */
    max-width: 500px; /* Max width */
}
  
.feedback-form-popup h2 {
    margin-top: 0;
}
  
.feedback-form-popup form {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.feedback-form-popup label {
    display: block;
    margin-bottom: 10px;
}
  
.feedback-form-popup input,
.feedback-form-popup textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #8290cf;
}
  
.feedback-form-popup button[type="submit"] {
    background-color: #05154b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.feedback-form-popup button[type="submit"]:hover {
    background-color: #05154b;
}
  
.feedback-form-popup button[type="button"] {
    background-color: #fff;
    color: #05154b;
    padding: 10px 20px;
    border: 1px solid #05154b;
    border-radius: 5px;
    cursor: pointer;
}